.c-nav {
  background: linear-gradient(50deg, $color-main, $color-secondary);
  position: fixed;
  height: 100vh;
  overflow: scroll;
  box-shadow: 3px 0px 9px 0px $color-dark;
  width: 60px;
  @media only screen and (max-width: 600px) {
    width: 50px;
  }
}
.c-nav__list--top,
.c-nav__list--bottom {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.c-nav__list--bottom {
  //Keeps all navigation items visible when screen height is altered
  @media only screen and (max-height: 700px) {
    padding-bottom: 5rem;
  }
}
.c-nav__list--top {
  border-bottom: 2px solid $color-border;
}
.c-nav__list--svg {
  width: 16px;
  height: 16px;
}
.c-nav__list--item {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 16px;
  &:hover {
    background: $color-main-dark;
  }
  i {
    color: $color-light;
    font-size: 1.6rem;
  }
}
.c-nav__list--back {
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 2px solid $color-border;
  position: fixed;
  z-index: 2;
  background-color: $color-main;
  bottom: 0;
  width: 60px;
  @media only screen and (max-width: 600px) {
    width: 50px;
  }
}
