@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;$font-bold&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.c-nav {
  background: linear-gradient(50deg, #792263, #d63294);
  position: fixed;
  height: 100vh;
  overflow: scroll;
  -webkit-box-shadow: 3px 0px 9px 0px #000;
          box-shadow: 3px 0px 9px 0px #000;
}

.c-nav__list--top,
.c-nav__list--bottom {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.c-nav__list--top {
  border-bottom: 2px solid #94909062;
}

.c-nav__list--svg {
  width: 16px;
  height: 16px;
}

.c-nav__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 16px;
}

.c-nav__list--item:hover {
  background: #6d164a;
}

.c-nav__list--item i {
  color: #ffffff;
  font-size: 1.6rem;
}

.c-nav__list--back {
  bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  border-top: 2px solid #94909062;
  position: absolute;
  z-index: 2;
  background-color: #792263;
  bottom: 0;
}

.c-box {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px #000;
          box-shadow: 0px 0px 9px 0px #000;
}

.c-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1050px) {
  .c-box__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-boxOne {
  width: 35%;
  position: relative;
  margin-right: 20px;
}

@media only screen and (max-width: 1050px) {
  .c-boxOne {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.c-boxOne__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.c-boxOne__body {
  padding: 10px;
}

.c-boxOne__actions {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.c-boxOne__actions .c-boxOne__edit {
  margin-right: 7.5px;
}

.c-boxOne__edit {
  cursor: pointer;
}

.c-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

.c-form__group input {
  border: none;
  width: 50%;
  padding-left: 2.5px;
}

.c-form__group input:disabled {
  background: none;
}

.c-form__group--absolute {
  position: absolute;
  bottom: 20px;
}

@media only screen and (max-width: 1050px) {
  .c-form__group--margin {
    margin-bottom: 70px;
  }
}

.c-boxTwo {
  width: 65%;
}

@media only screen and (max-width: 1050px) {
  .c-boxTwo {
    width: 100%;
  }
}

.c-boxTwo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.c-boxTwo__header p {
  margin-left: 10px;
}

.c-boxTwo__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.c-boxTwo__text--bold {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 8px;
  width: auto;
  white-space: nowrap;
}

.c-boxTwo__list--item {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #94909062;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding-right: 10px;
}

.c-boxTwo__text {
  width: 75%;
  font-weight: 300;
  margin-right: auto;
}

.c-boxTwo__action {
  color: #792263;
  font-weight: 600;
}

.c-boxTwo__textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.c-boxTwo__textBlock .c-boxTwo__edit {
  color: #792263;
  cursor: pointer;
}

.c-boxTwo__textBlock .c-boxTwo__edit:first-of-type {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .c-boxTwo__textBlock {
    font-size: 1.25rem;
  }
}

.c-boxThree {
  overflow: scroll;
}

.c-table {
  border-collapse: collapse;
}

.c-table__heads th {
  padding: 5px 15.5px 5px 5px;
  text-align: left;
  color: #792263;
  border-bottom: 1px solid #792263;
}

td {
  padding: 5px 15.5px 5px 5px;
}

.c-table__head {
  width: 20%;
}

.c-table__checkbox > input {
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #792263;
  border-radius: 2px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.c-table__checkbox > input:checked {
  border: 1px solid #792263;
  background-color: #792263;
}

.c-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.c-modalEdit {
  display: none;
}

.c-modalEdit__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-modalEdit__header {
  padding: 2px 16px;
  background-color: #792263;
  color: #ffffff;
}

.c-modalEdit__body {
  padding: 2px 16px;
}

.c-modalEdit__footer {
  padding: 2px 16px;
  background-color: #792263;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modalEdit__close {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
}

.c-modalDelete {
  display: none;
}

.c-modalDelete__text {
  margin-bottom: 10px;
}

.c-modalDelete__content {
  padding: 24px;
  position: relative;
  background-color: #d63294;
  margin: auto;
  width: 20%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  font-size: 62.5%;
}

.c-body {
  background: #d1d1d1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .c-body {
    font-size: 1.25rem;
  }
}

.c-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1350px) {
  .c-main {
    padding-left: 70px;
    padding-right: 17.5px;
  }
}

.c-line {
  display: inline-block;
  border-left: 2px solid #792263;
  height: 18px;
  padding-right: 8px;
}
/*# sourceMappingURL=main.css.map */